@media screen and (max-width:840px) {
    .text_1{ 
       font-size: 10px;
       font-weight: 400; 
       }
       
       .text_2{   
       font-size: 10px;
       font-weight: 400;
       }
       
       .text_3{
           
       font-size: 10px;
       font-weight: 400;
      
       }
       
       .text_4{   
       font-size: 10px;
       font-weight: 400;
       }

       .phone-call{
        align-self: center;
        width: 2vh;
        height: 2vh;
        margin-top: 16px;
       margin-top: 2px;
    
    }
    
    .font-marker{
        align-self:center;
        width: 2vh ;
        height: 2vh;
        margin-top: 16px;
        margin-top: 2px;
    }
    .sign{
        align-self:center;
        font-size: 12px;
           color: #fff;
           margin-top: 2px;
           margin-left: 10px;
       }
}
@media screen and (max-width:665px){
    .text_1{

        color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 7px;
       font-weight: 400;
       line-height: 21.67px;
       letter-spacing: 0%;
       
       margin-top: 2px;
       
       }
       
       .text_2{
           color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 7px;
       font-weight: 400;
       line-height: 21.67px;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 2px;
       
       }
       
       .text_3{
           color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 7px;
       font-weight: 400;
       line-height: 21.67px;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 2px;
       }
       
       .text_4{
           color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 7px;
       font-weight: 400;
       line-height: 21.67px;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 2px;
       margin-right: 10px;
       }

       .phone-call{
        align-self: center;
        width: 1.5vh;
        height: 1.5vh;
        margin-top: 16px;
       margin-top: 2px;
    
    }
    
    .font-marker{
        align-self:center;
        width: 1.5vh ;
        height: 1.5vh;
        margin-top: 16px;
        margin-top: 2px;
    }
    .sign{
        align-self:center;
        font-size: 9px;
           color: #fff;
           margin-top: 2px;
           margin-left: 10px;
       }
}
@media screen and (max-width:475px){
    .text_1{

        color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 6px;
       font-weight: 100;
       line-height: 21.67px;
       letter-spacing: 0%;
       
       margin-top: 2px;
       
       }
       
       .text_2{
           color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 6px;
       font-weight: 100;
       line-height: 21.67px;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 2px;
       
       }
       
       .text_3{
           color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 6px;
       font-weight: 100;
       line-height: 21.67px;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 2px;
       }
       
       .text_4{
           color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 6px;
       font-weight: 100;
       line-height: 21.67px;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 2px;
       margin-right: 10px;
       }

       .phone-call{
        align-self: center;
        width: 1vh;
        height: 1vh;
        margin-top: 16px;
       margin-top: 2px;
    
    }
    
    .font-marker{
        align-self:center;
        width: 1vh ;
        height: 1vh;
        margin-top: 16px;
        margin-top: 2px;
    }
    .sign{
        align-self:center;
        font-size: 7px;
           color: #fff;
           margin-top: 2px;
           margin-left: 10px;
       }
}

@media screen and (max-width:421px){
    .text_1{

        color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 5.5px;
       font-weight: 100;
       line-height: 21.67px;
       letter-spacing: 0%;
       
       margin-top: 2px;
       
       }
       
       .text_2{
           color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 5px;
       font-weight: 100;
       line-height: 21.67px;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 2px;
       
       }
       
       .text_3{
           color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 5px;
       font-weight: 100;
       line-height: 21.67px;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 2px;
       }
       
       .text_4{
           color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 5px;
       font-weight: 100;
       line-height: 21.67px;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 2px;
       margin-right: 10px;
       }

       .phone-call{
        align-self: center;
        width: 1vh;
        height: 1vh;
        margin-top: 16px;
       margin-top: 2px;
    
    }
    
    .font-marker{
        align-self:center;
        width: 1vh ;
        height: 1vh;
        margin-top: 16px;
        margin-top: 2px;
    }
    .sign{
        align-self:center;
        font-size: 5px;
           color: #fff;
           margin-top: 4px;
           margin-left: 10px;
       }
}

@media screen and (max-width:348px){
    .text_1{

        color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 4.5px;
       font-weight: 100;
       line-height: 21.67px;
       letter-spacing: 0%;
       
       margin-top: 2px;
       
       }
       
       .text_2{
           color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 4.5px;
       font-weight: 100;
       line-height: 21.67px;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 2px;
       
       }
       
       .text_3{
           color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 4.5px;
       font-weight: 100;
       line-height: 21.67px;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 2px;
       }
       
       .text_4{
           color: rgb(255, 255, 255);
       font-family: Open Sans;
       font-size: 4.5px;
       font-weight: 400;
       line-height: 21.67px;
       letter-spacing: 0%;
       text-align: left;
       margin-top: 2px;
       margin-right: 10px;
       }

       .phone-call{
        align-self: center;
        width: 1vh;
        height: 1vh;
        margin-top: 16px;
       margin-top: 2px;
    
    }
    
    .font-marker{
        align-self:center;
        width: 1vh ;
        height: 1vh;
        margin-top: 16px;
        margin-top: 2px;
    }
    .sign{
        align-self:center;
        font-size: 4px;
           color: #fff;
           margin-top: 2px;
           margin-left: 10px;
       }
}




@media (max-width:982px){
    .burger_header_btn{
        display: block;
        z-index: 10;
    }
    .header_part2_buttons{
        position: absolute;
        left: -390px;
        top: 3.5px;
        width: 350px;
        background-color: rgb(148, 148, 227);
        padding: 75px 20px 20px 20px;
        border-radius: 5px;
        transition: transform 0.5s;
        z-index: 1;
    }
    .header_part2_buttons_list{
        display: block;
        list-style:circle;
        z-index: 1000;
    
    }

    .exept {
        margin-top: 20px;
    }

    .header_part2_buttons_list_button{
        color: white;
        background-color: rgb(148, 148, 227);
        font-size: 21px;
        display: block;
        padding: 10px 0px;
        
    }
    .header.open .header_part2_buttons {
        transform: translateX(100%);
    }
}

@media (max-width:1175px){
    .main_part1_block{
        width: 600px;
        height: 400px;
        position: relative;
        top:100px;
        left: 50px;
      }

    .main_part1{
        background-image: url(img/dantist.svg);
         background-size: cover;
         background-position: center;
         width: 100%;
         height:500px;
         margin-top: 0px;
         padding-top: 0px;
}
}

@media (max-width:670px){
    .main_part1_block{
        width: 400px;
        height: 250px;
      }
      
  .main_part1_block1{
    width: 120px;
    height: 15px;
    border-radius: 5px;
    background: rgb(244, 87, 46);
    align-content: center;
    text-align: center
  }


  .main_part1_block3{
    max-width: 380px;
    height: 57px;
    display: flex;
    gap: 16.04px;
  }

  .main_part1_block1_text1{
    color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 8px;
font-weight: 600;
line-height: 12px;
letter-spacing: 2px;
text-align: center;
text-transform: uppercase;



}

.main_part1_block1_title1{
    background-color: white;
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 45px;
font-weight: 800;
line-height: 53px;
letter-spacing: 0%;
text-align: left;
margin-top: 10px;
margin-bottom: 10px;
}

.main_part1_block1_title2{
    background-color: #fff;
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 45px;
font-weight: 600;
line-height: 53px;
letter-spacing: 0%;
text-align: left;
margin-top: 0px;
margin-bottom: 10px;
}

.main_part1_block3_button1{
    width: 150px;
    height: 45px;
    border-radius: 5px;
    background: rgb(46, 49, 146);
    opacity: 0.96;
    color: #fff;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.main_part1_block3_button2{
    width: 150px;
    height: 45px;
    border-radius: 5px;
    background:#fff;
    opacity: 0.96;
    color: rgb(46, 49, 146) ;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
}

@media (max-width:470px) {
    .main_part1_block{
        width: 250px;
        height: 200px;
      }
      
  .main_part1_block1{
    width: 100px;
    height: 12px;
    border-radius: 5px;
    background: rgb(244, 87, 46);
    align-content: center;
    text-align: center
  }


  .main_part1_block3{
    max-width: 380px;
    height: 57px;
    display: flex;
    gap: 16.04px;
  }

  .main_part1_block1_text1{
    color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 6px;
font-weight: 600;
line-height: 10px;
letter-spacing: 2px;
text-align: center;
text-transform: uppercase;



}

.main_part1_block1_title1{
    background-color: white;
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 25px;
font-weight: 800;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-top: 10px;
margin-bottom: 5px;
}

.main_part1_block1_title2{
    background-color: #fff;
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 25px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-top: 0px;
margin-bottom: 10px;
}

.main_part1_block3_button1{
    width: 150px;
    height: 45px;
    border-radius: 5px;
    background: rgb(46, 49, 146);
    opacity: 0.96;
    color: #fff;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.main_part1_block3_button2{
    width: 150px;
    height: 45px;
    border-radius: 5px;
    background:#fff;
    opacity: 0.96;
    color: rgb(46, 49, 146) ;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
}


@media (max-width:1440px) {
    .main_part2_block{
            width: 100%;
            height: 650px;
            align-items: center; 
            margin-top: 18px;  
            background-color: rgba(155, 150, 143, 0.204);
            
    }
    
    
    .hidden{
        display: none;
        transition: 2s all;
    }
    
    

    .btnPrev{
   margin: 0 auto;
    width: 50px;
    height: 50px;
    opacity: 1;
    border-radius: 50%;
    z-index: 2;
    display: block;
    position: relative;
    bottom: 400px;
    right:220px;
    opacity: 0.1;
    border: 1px solid black;
    font-size: 30px;
    font-weight: 700;
    align-self: center;
    box-shadow: 2px 0px 2px 1px;
    }
    .btnNext:hover, .btnNext:active{
        opacity: 0.3;
        box-shadow: 3px 0px 3px 2px;
        
    }
    .btnPrev:hover, .btnPrev:active{
        opacity: 0.3;
        box-shadow: 0px 2px 3px 2px;
        
    }
    
    .btnNext{
      margin: 0 auto;
    width: 50px;
    height: 50px;
    opacity: 1;
    border-radius: 50%;
    z-index: 2;
    display: block;
    position: relative;
    bottom: 448px;
    left:220px;

    opacity: 0.1;
    border: 1px solid black;
    font-size: 30px;
    font-weight: 700;
    align-self: center;
    box-shadow: 2px 0px 2px 1px;
    }

}
@media (max-width:490px) {

    .main_part2_block{
        margin-top: -5px;
        height: 550px;
        
    }

    .main_part2_block3_image1{
        width: 293px;
        height: 180px;
     }
    
     .main_part2_block3_image2{
        width: 293px;
        height: 180px;
     }
     .btnNext{
        width: 30px;
        height: 30px;
        font-size: 18px;
     }
     .btnPrev{
        width: 30px;
        height: 30px;
        font-size: 18px;
     }
     .main_part2_block1_title1{
        color: rgb(30, 45, 120);
    font-family: Catamaran;
    font-size: 22px;
    font-weight: 600;
    line-height: 34.99px;
    letter-spacing: 0%;
    text-align: left;
    }
    
    .main_part2_block1_text1{
        color: rgb(138, 138, 138);
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    }
    .btnNext{
        position: relative;
        left: 150px;
        bottom:445px ;
        color: black;
    }
    .btnPrev{
        position: relative;
        left:-149px;
        bottom:410px;
    }
    .main_part2_block3_title{
        text-align: center;
        margin-top: 20px;
        color: rgb(37, 57, 156);
       font-family: Catamaran;
       font-size: 20px;
       font-weight: 600;
      line-height: 22px;
    letter-spacing: 0%;
    margin-bottom: 20px;
    }
    .main_part2_block3_text{
        color: rgb(138, 138, 138);
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
    }
    .main_part2_block3{
        height: 350px;
        width: 300px;
    }
    .main_part2_block3_dop{
    
        border: 1px solid black;
        width: 300px;
        height: 82px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:rgb(46, 49, 146) ;
        color: rgb(255, 255, 255);
       font-family: Catamaran;
       font-size: 20px;
       font-weight: 600;
       line-height: 25px;
      letter-spacing: 0%;
     
     }
    
}

@media (max-width:1260px) {
    .main_part3_block{
        width: 100%;
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3,350px);
        margin-top: 0px;
        align-items: center;
        margin: 0 auto;
       
     }
     
}
@media (max-width:1090px) {
    .main_part3_block{
        width: 80%;
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3,280px);
        margin-top: 0px;
        align-items: center;
        
     }
     
} 
@media (max-width:940px) {
    .main_part3_block{
        width: 100%;
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3,260px);
        margin-top: 0px;
        align-items: center;
        
     }
     .main_part3_block2_title{
        color: rgb(30, 45, 120);
        font-family: Catamaran;
        font-size: 14px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 2px;
        
     }
     
     .main_part3_block2_text{
         color: rgb(138, 138, 138);
     font-family: Open Sans;
     font-size: 10px;
     font-weight: 400;
     line-height: 25px;
     letter-spacing: 0%;
     text-align: left;
     margin-top: 0px;
     margin-bottom: 0px;
     padding-left: 28px;
     
     }
    .main_part3_block1_img{
        width:75px ;
        height:74px ;
    }
    .main_part3_block1{
        display: flex;
        height: 130px; 
        margin-bottom: 30px;  
        
     }
}

@media (max-width:780px) {
    .main_part3_block{
        align-self: center;
        width: 100%;
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3,240px);
        margin-top: 0px;
        align-items: center;
        
     }
     .main_part3_block2_title{
        color: rgb(30, 45, 120);
        font-family: Catamaran;
        font-size: 11px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 2px;
        margin-left: 28px;
     }
     
     .main_part3_block2_text{
         color: rgb(138, 138, 138);
     font-family: Open Sans;
     font-size: 9px;
     font-weight: 400;
     line-height: 20px;
     letter-spacing: 0%;
     text-align: left;
     margin-top: 0px;
     margin-bottom: 0px;
     padding-left: 10px;
     
     }
    .main_part3_block1_img{
        width:55px ;
        height:53px ;
    }
    .main_part3_block1{
        display: flex;
        height: 100px; 
        margin-bottom: 20px;  
        
     }
}
@media (max-width:722px) {
    .main_part3_block{
        width: 100%;
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3,200px);
        margin-top: 5px;
        margin-bottom: 40px;
        align-items: center;
        
     }
     .main_part3_block2_title{
        color: rgb(30, 45, 120);
        font-family: Catamaran;
        font-size: 10px;
        font-weight: 600;
        line-height: 10px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 15px;
     }
     
     .main_part3_block2_text{
         color: rgb(138, 138, 138);
     font-family: Open Sans;
     font-size: 8px;
     font-weight: 400;
     line-height: 10px;
     letter-spacing: 0%;
     text-align: left;
     margin-top: 0px;
     margin-bottom: -500px;
     padding-left: 13px;
     
     }
    .main_part3_block1_img{
        width:65px ;
        height:63px ;
    }
    .main_part3_block1{
        display: flex;
        height: 100px; 
        margin-bottom: 10px;  
        
     }
}
@media (max-width:600px) {
    .main_part3_block{
        width: 100%;
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3,180px);
        margin-top: -30px;
        align-items: center;
        
     }
     .main_part3_block2_title{
        color: rgb(30, 45, 120);
        font-family: Catamaran;
        font-size: 9px;
        font-weight: 600;
        line-height: 10px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 13px;
     }
     
     .main_part3_block2_text{
         color: rgb(138, 138, 138);
     font-family: Open Sans;
     font-size: 7px;
     font-weight: 400;
     line-height: 10px;
     letter-spacing: 0%;
     text-align: left;
     margin-top: 0px;
     margin-bottom: -500px;
     padding-left: 11px;
     
     }
    .main_part3_block1_img{
        width:55px ;
        height:53px ;
    }
    .main_part3_block1{
        display: flex;
        height: 90px; 
        margin-bottom: 10px;  
        
     }
}
@media (max-width:540px) {
    .main_part3_block{
        width: 100%;
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(2,140px);
        margin-top: -20px;
        align-items: center;
        
     }
     .main_part3_block2_title{
        color: rgb(30, 45, 120);
        font-family: Catamaran;
        font-size: 8px;
        font-weight: 600;
        line-height: 10px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 13px;
     }
     
     .main_part3_block2_text{
         color: rgb(138, 138, 138);
     font-family: Open Sans;
     font-size: 7px;
     font-weight: 400;
     line-height: 10px;
     letter-spacing: 0%;
     text-align: left;
     margin-top: 0px;
     margin-bottom: -500px;
     padding-left: 12px;
     
     }
    .main_part3_block1_img{
        width:50px ;
        height:48px ;
    }
    .main_part3_block1{
        display: flex;
        height: 80px; 
        margin-bottom: 10px;  
        
     }
}

@media (max-width:342px) {
    .main_part3_block{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,120px);
        margin-top: -40px;
       
        
     }
     .main_part3_block2_title{
        color: rgb(30, 45, 120);
        font-family: Catamaran;
        font-size: 8px;
        font-weight: 600;
        line-height: 9px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: 5px;
     }
     
     .main_part3_block2_text{
         color: rgb(138, 138, 138);
     font-family: Open Sans;
     font-size: 6px;
     font-weight: 400;
     line-height: 7px;
     letter-spacing: 0%;
     text-align: left;
     margin-top: 0px;
     margin-bottom: -500px;
     padding-left: 4px;
     
     }
    .main_part3_block1_img{
        width:30px ;
        height:28px ;
    }
    .main_part3_block1{
        height: 75px; 
        margin-bottom: 2px;  
        
     }
} 


@media (max-width:1100px) {
    .main_part4{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: azure;
    }
    .youtube_video_main_part4{
        width:500px;
        height:400px;
    }
    .main_part4_block1_text1{
        font-size: 10px;
        font-family:sans-serif;
        font-weight: 600;
        color: rgb(179, 12, 12);
        margin-bottom: 5px;
        text-align: left;
    }
    .main_part4_block1_title1{
        color: rgb(8, 29, 132);
        font-family: sans-serif;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
    
        
    }
    .main_part4_block1_text2{
        color: rgb(101, 101, 101);
        font-family: Open Sans;
        font-size: 8px;
        font-weight: 400;
        margin-bottom: 20px;
    
      
    }
    .main_part4_block1_text3{
        font-size: 12px;
        font-family:sans-serif;
        font-weight: 600;
        color: rgb(179, 12, 12);
        margin-bottom: 5px;
        text-align: left;
    }
}
@media (max-width:900px) {
    .main_part4{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: azure;
    }
    .youtube_video_main_part4{
        width:400px;
        height:300px;
    }
    .main_part4_block1_text1{
        font-size: 8px;
        font-family:sans-serif;
        font-weight: 600;
        color: rgb(179, 12, 12);
        margin-bottom: 3px;
        text-align: left;
    }
    .main_part4_block1_title1{
        color: rgb(8, 29, 132);
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    
        
    }
    .main_part4_block1_text2{
        color: rgb(101, 101, 101);
        font-family: Open Sans;
        font-size: 5px;
        font-weight: 400;
        margin-bottom: 20px;
    
      
    }
    .main_part4_block1_text3{
        font-size: 8px;
        font-family:sans-serif;
        font-weight: 600;
        color: rgb(179, 12, 12);
        margin-bottom: 5px;
        text-align: left;
    }
}
@media (max-width:650px) {
    .main_part4{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: azure;
    }
    .youtube_video_main_part4{
        width:250px;
        height:200px;
    }
    .main_part4_block1_text1{
        font-size: 6px;
        font-family:sans-serif;
        font-weight: 500;
        color: rgb(179, 12, 12);
        margin-bottom: 1px;
        text-align: left;
    }
    .main_part4_block1_title1{
        color: rgb(8, 29, 132);
        font-family: sans-serif;
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 5px;
    
        
    }
    .main_part4_block1_text2{
        color: rgb(101, 101, 101);
        font-family: Open Sans;
        font-size: 3px;
        font-weight: 200;
        margin-bottom: 10px;
    
      
    }
    .main_part4_block1_text3{
        font-size: 6px;
        font-family:sans-serif;
        font-weight: 400;
        color: rgb(179, 12, 12);
        margin-bottom: 2px;
        text-align: left;
    }
}
@media (max-width:380px) {
    .main_part4{
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: azure;
    }
    .youtube_video_main_part4{
        width:150px;
        height:120px;
    }
    .main_part4_block1_text1{
        font-size: 4px;
        font-family:sans-serif;
        font-weight: 400;
        color: rgb(179, 12, 12);
        margin-bottom: 1px;
        text-align: left;
    }
    .main_part4_block1_title1{
        color: rgb(8, 29, 132);
        font-family: sans-serif;
        font-size: 6px;
        font-weight: 700;
        margin-bottom: 10px;
    
        
    }
    .main_part4_block1_text2{
        color: rgb(101, 101, 101);
        font-family: Open Sans;
        font-size: 3px;
        font-weight: 400;
        margin-bottom: 5px;
    
      
    }
    .main_part4_block1_text3{
        font-size: 4px;
        font-family:sans-serif;
        font-weight: 600;
        color: rgb(179, 12, 12);
        margin-bottom: 4px;
        text-align: left;
    }
}

@media (max-width:1440px) {
    .main_part5_block{
        margin-bottom: 0px;
    }
    .main_part5_block2{
    width: 100%;
    align-items: center;
    display: block;
    
    }
    .main_part5_block2_addblock1{
        margin: 0 auto;
        display: block;
    }
    .hidden{
        display: none;
    }
}

@media (max-width:500px) {
    .main_part5_block{
        text-align: center;
        margin-top: 50px;
        height: 600px;
        background-color: bisque;
    }
    
    .main_part5_block1_text1{
        color: rgb(221, 51, 51);
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 1.69px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    }
    
    .main_part5_block1_title1{
        color: rgb(30, 45, 120);
    font-family: Catamaran;
    font-size: 45px;
    font-weight: 600;
    line-height: 60.01px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px;
    }
    
    .main_part5_block1_text2{
        color: rgb(138, 138, 138);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px;
    
    }
    
    .main_part5_block2{
        display: flex;
       justify-content: space-around;
        margin-top: 60px;
    }
    
    .main_part5_block2_addblock1_title{
        color: rgb(30, 45, 120);
    font-family: Catamaran;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 28px;
    }
    
    .main_part5_block2_addblock1_text{
        color: rgb(138, 138, 138);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    }
    
    .main_part5_block2_addblock1_text1{
        color: rgb(221, 51, 51);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 1.69px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 29px;
    }
}
@media (max-width:379px) {
    .main_part5_block{
        text-align: center;
        margin-top: 50px;
        height: 600px;
        background-color: bisque;
    }
    
    .main_part5_block1_text1{
        color: rgb(221, 51, 51);
    font-family: Open Sans;
    font-size: 9px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 1.69px;
    text-align: center;
    text-transform: uppercase;
   
    }
    
    .main_part5_block1_title1{
        color: rgb(30, 45, 120);
    font-family: Catamaran;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px;
    }
    
    .main_part5_block1_text2{
        color: rgb(138, 138, 138);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px;
    
    }
    
    .main_part5_block2{
        display: flex;
       justify-content: space-around;
        margin-top: 40px;
    }
    
    .main_part5_block2_addblock1_title{
        color: rgb(30, 45, 120);
    font-family: Catamaran;
    font-size: 25px;
    font-weight: 600;
    line-height: 34.99px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 28px;
    }
    
    .main_part5_block2_addblock1_text{
        color: rgb(138, 138, 138);
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    }
    
    .main_part5_block2_addblock1_text1{
        color: rgb(221, 51, 51);
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.69px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    }
}











@media (max-width:1440px) {
    

    .btnPrev2{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    opacity: 1;
    border-radius: 50%;
    z-index: 2;
    display: block;
    position: relative;
    bottom: 400px;
    right:220px;
    opacity: 0.1;
    border: 1px solid black;
    font-size: 30px;
    font-weight: 700;
    align-self: center;
    box-shadow: 2px 0px 2px 1px;
    }
    .btnNext2:hover, .btnNext2:active{
        opacity: 0.3;
        box-shadow: 3px 0px 3px 2px;
        
    }
    .btnPrev2:hover, .btnPrev2:active{
        opacity: 0.3;
        box-shadow: 0px 2px 3px 2px;
        
    }
    
    .btnNext2{
     margin: 0 auto;
    width: 50px;
    height: 50px;
    opacity: 1;
    border-radius: 50%;
    z-index: 2;
    display: block;
    position: relative;
    bottom: 450px;
    left:220px;

    opacity: 0.1;
    border: 1px solid black;
    font-size: 30px;
    font-weight: 700;
    align-self: center;
    box-shadow: 2px 0px 2px 1px;
    }

}

@media (max-width:500px) {
     .btnNext2{
        width: 30px;
        height: 35px;
     }
     .btnPrev2{
        width: 30px;
        height: 35px;
     }
     
    
    .btnNext2{
        position: relative;
        left: 150px;
        bottom:445px ;
    }
    .btnPrev2{
        position: relative;
        left:-140px;
        bottom:410px;
    }
}
@media (max-width:360px) {
    .btnNext2{
        width: 30px;
        height: 35px;
     }
     .btnPrev2{
        width: 30px;
        height: 35px;
     }
     
    
    .btnNext2{
        position: relative;
        left: 100px;
        bottom:445px ;
    }
    .btnPrev2{
        position: relative;
        left:-100px;
        bottom:410px;
    }
}


@media (max-width:900px) {
    .main_part6_block2_title1{
        font-family: Catamaran;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        text-align: left;
        color: #fff;
    
    }
    
    .main_part6_block2_title2{
        font-family: Catamaran;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        text-align: left;
        color: rgb(244, 87, 46);
        
    }
    
    .main_part6_block3_text1{
    
        color: rgb(255, 255, 255);
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
    }
    
    .main_part6_block4_button{
        width: 150px;
        height: 50px; 
        border-radius: 5px;
        background: rgb(255, 255, 255);
        text-align: center;
        
    }
}


@media (max-width:685px) {
    .main_part6_block2_title1{
        font-family: Catamaran;
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        color: #fff;
    
    }
    
    .main_part6_block2_title2{
        font-family: Catamaran;
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        color: rgb(244, 87, 46);
        
    }
    
    .main_part6_block3_text1{
    
        color: rgb(255, 255, 255);
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0%;
        text-align: left;
    }
    
    .main_part6_block4_button{
        margin-top: 10px;
        font-size: 10px;
        width: 100px;
        height: 40px; 
        border-radius: 5px;
        background: rgb(255, 255, 255);
        text-align: center;
        margin-left: 170px;
        
    }
    .main_part6_block{
        display: grid;
        align-items: center;
    }
    main_part6_block4{
        width: 50px;
    }
}

@media (max-width:452px) {
    .main_part6_block2_title1{
        font-family: Catamaran;
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
        text-align: center;
        color: #fff;
    
    }
    
    .main_part6_block2_title2{
        font-family: Catamaran;
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
        color: rgb(244, 87, 46);
        
    }
    
    .main_part6_block3_text1{
    
        color: rgb(255, 255, 255);
        font-family: Open Sans;
        font-size: 9px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0%;
        text-align: left;
    }
    
    .main_part6_block4_button{
        font-size: 8px;
        width: 70px;
        height: 30px; 
        border-radius: 5px;
        background: rgb(255, 255, 255);
        text-align: center;
        margin-left: 150px;
        
        
    }
    .main_part6_block{
        display: grid;
        align-items: center;
    }
    main_part6_block4{
        width: auto;
    }
}


@media (max-width:359.9px) {

    .main_part6_blockcontrol{
        height: 100px;
    }
    .main_part6_block{
        margin-top: 20px;
    }
    .main_part6_block2_title1{
        font-family: Catamaran;
        font-size: 15px;
        font-weight: 600;
        line-height: 17px;
        text-align: center;
        color: #fff;
    
    }
    
    .main_part6_block2_title2{
        font-family: Catamaran;
        font-size: 15px;
        font-weight: 600;
        line-height: 17px;
        text-align: left;
        color: rgb(244, 87, 46);
        
    }
    
    .main_part6_block3_text1{
    
        color: rgb(255, 255, 255);
        font-family: Open Sans;
        font-size: 6px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0%;
        text-align: left;
    }
    
    .main_part6_block4_button{
        font-size: 8px;
        width: 70px;
        height: 30px; 
        border-radius: 5px;
        background: rgb(255, 255, 255);
        text-align: center;
        margin-left: 100px;
        
        
    }
    .main_part6_block{
        display: grid;
        align-items: center;
    }
    main_part6_block4{
        width: auto;
    }
}




@media (max-width:1240px) {
    
.main_part7_controlblock{
    background-color: rgb(255, 242, 242);
    width: 100%;
    height: 600px;
    
}

.main_part7_block2_list{
   display: flex;
   justify-content: space-around;
   margin-top: 80px;
   margin-bottom: 50px;
    
}

.main_part7_block3{
    display: flex;
    justify-content: space-around;
    
    
}

.main_part7_block1{
    display: grid;
    justify-content: space-around;
}

.main_part7_block2_button{
    background-color:  rgb(255, 242, 242);
    width: 250px;
    height: 48px;
    text-align: center;
    color: rgb(30, 45, 120);
    font-family: Catamaran;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;

}

.main_part7_block4_titile1{
    color: rgb(30, 45, 120);
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
}

.main_part7_block4_text1{
    color: rgb(101, 101, 101);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}


.main_part7_block2_button:hover, .main_part7_block2_button:focus, .main_part7_block2_button:active {
    border-bottom: 2px solid red;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
    
}
.main_part7_block5_img{
    width: 400px;
    height: 290px;
}
.hiddenExp{
    display: none;
    transition: 2s all;
}


}

@media (max-width:1005px) {
    .main_part7_controlblock{
        background-color: rgb(255, 242, 242);
        width: 100%;
        height: 500px;
        
    }
    
    .main_part7_block2_list{
       display: flex;
       justify-content: space-around;
       margin-top: 70px;
       margin-bottom: 40px;
        
    }
    
    .main_part7_block3{
        display: flex;
        justify-content: space-around;
        
        
    }
    
    .main_part7_block1{
        display: grid;
        justify-content: space-around;
    }
    
    .main_part7_block2_button{
        background-color:  rgb(255, 242, 242);
        width: 200px;
        height: 40px;
        text-align: center;
        color: rgb(30, 45, 120);
        font-family: Catamaran;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
    
    }
    
    .main_part7_block4_titile1{
        color: rgb(30, 45, 120);
        font-family: Catamaran;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        text-align: left;
    }
    
    .main_part7_block4_text1{
        color: rgb(101, 101, 101);
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 400;
        line-height: 13px;
        text-align: left;
    }
    
    
    .main_part7_block2_button:hover, .main_part7_block2_button:focus, .main_part7_block2_button:active {
        border-bottom: 2px solid red;
        box-shadow:0px 4px 8px rgba(0, 0, 0, 0.2);
        transition-duration: 0.2s;
        
    }
    .main_part7_block5_img{
        width: 400px;
        height: 290px;
    }
    .hiddenExp{
        display: none;
        transition: 2s all;
    }
    
    
    }
@media (max-width:830px) {
    .main_part7_controlblock{
        background-color: rgb(255, 242, 242);
        width: 100%;
        height: 480px;
        
    }
    
    .main_part7_block2_list{
       display: flex;
       justify-content: space-around;
       margin-top: 100px;
       margin-bottom: 50px;
        
    }
    
    .main_part7_block3{
        display: flex;
        justify-content: space-around;
        
        
    }
    
    .main_part7_block1{
        display: grid;
        justify-content: space-around;
    }
    
    .main_part7_block2_button{
        background-color:  rgb(255, 242, 242);
        width: 110px;
        height: 30px;
        text-align: center;
        color: rgb(30, 45, 120);
        font-family: Catamaran;
        font-size: 10px;
        font-weight: 600;
        line-height: 15px;
    
    }
    
    .main_part7_block4_titile1{
        color: rgb(30, 45, 120);
        font-family: Catamaran;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        text-align: left;
    }
    
    .main_part7_block4_text1{
        color: rgb(101, 101, 101);
        font-family: Open Sans;
        font-size: 9px;
        font-weight: 400;
        line-height: 12px;
        text-align: left;
    }
    
    
    .main_part7_block2_button:hover, .main_part7_block2_button:focus, .main_part7_block2_button:active {
        border-bottom: 2px solid red;
        box-shadow:0px 4px 8px rgba(0, 0, 0, 0.2);
        transition-duration: 0.2s;
        
    }
    .main_part7_block5_img{
        width: 300px;
        height: 200px;
    }
    .hiddenExp{
        display: none;
        transition: 2s all;
    }
    
    
    }


    @media (max-width:650px) {
        .main_part7_controlblock{
            background-color: rgb(255, 242, 242);
            width: 100%;
            height: 350px;
            
        }
        
        .main_part7_block2_list{
           display: flex;
           justify-content: space-around;
           margin-top: 50px;
           margin-bottom: 50px;
            
        }
        
        
        .main_part7_block2_button{
            background-color:  rgb(255, 242, 242);
            width: 100px;
            height: 30px;
            text-align: center;
            color: rgb(30, 45, 120);
            font-family: Catamaran;
            font-size: 9px;
            font-weight: 600;
            line-height: 13px;
        
        }
        .main_part7_block3{
            display: flex;
            justify-content: space-around;
            
            
        }
        
        .main_part7_block1{
            display: grid;
            justify-content: space-around;
        }
        
        
        .main_part7_block4_titile1{
            color: rgb(30, 45, 120);
            font-family: Catamaran;
            font-size: 15px;
            font-weight: 600;
            line-height: 17px;
            text-align: left;
        }
        
        .main_part7_block4_text1{
            color: rgb(101, 101, 101);
            font-family: Open Sans;
            font-size: 7px;
            font-weight: 400;
            line-height: 10px;
            text-align: left;
        }
        
        
        .main_part7_block2_button:hover, .main_part7_block2_button:focus, .main_part7_block2_button:active {
            border-bottom: 2px solid red;
            box-shadow:0px 4px 8px rgba(0, 0, 0, 0.2);
            transition-duration: 0.2s;
            
        }
        .main_part7_block5_img{
            width: 200px;
            height: 150px;
        }
        .hiddenExp{
            display: none;
            transition: 2s all;
        }
        
        
        }
        @media (max-width:525px) {
            .main_part7_controlblock{
                background-color: rgb(255, 242, 242);
                width: 100%;
                height: 280px;
                
            }
            
            .main_part7_block2_list{
               display: flex;
               justify-content: space-around;
               margin-top: 50px;
               margin-bottom: 50px;
                
            }
            
            
            .main_part7_block2_button{
                background-color:  rgb(255, 242, 242);
                width: 75px;
                height: 20px;
                text-align: center;
                color: rgb(30, 45, 120);
                font-family: Catamaran;
                font-size: 6.5px;
                font-weight: 600;
                line-height: 8px;
            
            }
            .main_part7_block3{
                display: flex;
                justify-content: space-around;
                
                
            }
            
            .main_part7_block1{
                display: grid;
                justify-content: space-around;
            }
            
            
            .main_part7_block4_titile1{
                color: rgb(30, 45, 120);
                font-family: Catamaran;
                font-size: 10px;
                font-weight: 600;
                line-height: 12px;
                text-align: left;
            }
            
            .main_part7_block4_text1{
                color: rgb(101, 101, 101);
                font-family: Open Sans;
                font-size: 5.5px;
                font-weight: 400;
                line-height: 8px;
                text-align: left;
            }
            
            
            .main_part7_block2_button:hover, .main_part7_block2_button:focus, .main_part7_block2_button:active {
                border-bottom: 2px solid red;
                box-shadow:0px 4px 8px rgba(0, 0, 0, 0.2);
                transition-duration: 0.2s;
                
            }
            .main_part7_block5_img{
                width: 120px;
                height: 80px;
            }
            .hiddenExp{
                display: none;
                transition: 2s all;
            }
            
            
            }
    

            @media (max-width:1440px) {
    

                .btnPrev3{
                margin: 0 auto;
                width: 50px;
                height: 50px;
                opacity: 1;
                border-radius: 50%;
                z-index: 2;
                display: block;
                position: relative;
                bottom: 300px;
                right:220px;
                opacity: 0.1;
                border: 1px solid black;
                font-size: 30px;
                font-weight: 700;
                align-self: center;
                box-shadow: 2px 0px 2px 1px;
                }
                .btnNext3:hover, .btnNext3:active{
                    opacity: 0.3;
                    box-shadow: 3px 0px 3px 2px;
                    
                }
                .btnPrev3:hover, .btnPrev3:active{
                    opacity: 0.3;
                    box-shadow: 0px 2px 3px 2px;
                    
                }
                
                .btnNext3{
                 margin: 0 auto;
                width: 50px;
                height: 50px;
                opacity: 1;
                border-radius: 50%;
                z-index: 2;
                display: block;
                position: relative;
                bottom: 350px;
                left:220px;
            
                opacity: 0.1;
                border: 1px solid black;
                font-size: 30px;
                font-weight: 700;
                align-self: center;
                box-shadow: 2px 0px 2px 1px;
                }
                .main_part8_controlblock{
                    height: 600px;
                    background-color:lavender;
                    margin-top: 80px;
                }
                
            }
@media (max-width:1180px) {
    .main_part8_block3_list{
    width: 100%;
    align-items: center;
    display: block;
    }
    .main_part8_block3_listitem{
        margin: 0 auto;
        display: block;
    }
    .hidden{
        display: none;
    }
}
@media (max-width:495px) {
    .main_part8_controlblock{
        height: 600px;
        background-color:lavender;
        margin-top: 40px;
    }
    .btnNext3{
        width: 40px;
        height: 40px;
        position: relative;
        bottom: 320px;
        left:180px;
    }
    .btnPrev3{
        width: 40px;
        height: 40px;
        align-items: center;
        position: relative;
        bottom: 280px;
        right:180px; 
    }
    .main_part8_block2_title1{
        margin: 0px 0px;
        color: rgb(221, 51, 51);
        font-family: Open Sans;
        font-size: 11px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 1.69px;
        text-align: center;
        text-transform: uppercase;
    }
    
    .main_part8_block2_title2{
        margin: 0px 0px;
        color: rgb(30, 45, 120);
    font-family: Catamaran;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
    }
    
    .main_part8_block2_text1{
        margin: 0px 0px;
        color: rgb(138, 138, 138);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    }
    
    .main_part8_block3_listitem_text1{
        margin: 0px 0px;
        color: rgb(30, 45, 120);
    font-family: Catamaran;
    font-size: 19px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    }
    
    .main_part8_block3_listitem_text2{
        margin: 0px 0px;
        color: rgb(221, 51, 51);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 21.67px;
    letter-spacing: 1.69px;
    text-align: center;
    text-transform: uppercase;
    }
}

@media (max-width:410px) {
    .main_part8_controlblock{
        height: 500px;
        background-color:lavender;
        margin-top: 40px;
    }
    .btnNext3{
        width: 40px;
        height: 40px;
        position: relative;
        bottom: 320px;
        left:120px;
    }
    .btnPrev3{
        width: 40px;
        height: 40px;
        align-items: center;
        position: relative;
        bottom: 280px;
        right:120px; 
    }
    .main_part8_block2_title1{
        margin: 0px 0px;
        color: rgb(221, 51, 51);
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 1.69px;
        text-align: center;
        text-transform: uppercase;
    }
    
    .main_part8_block2_title2{
        margin: 0px 0px;
        color: rgb(30, 45, 120);
    font-family: Catamaran;
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    }
    
    .main_part8_block2_text1{
        margin: 0px 0px;
        color: rgb(138, 138, 138);
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0%;
    text-align: center;
    }
    
    .main_part8_block3_listitem_text1{
        margin: 0px 0px;
        color: rgb(30, 45, 120);
    font-family: Catamaran;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    }
    
    .main_part8_block3_listitem_text2{
        margin: 0px 0px;
        color: rgb(221, 51, 51);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 21.67px;
    letter-spacing: 1.69px;
    text-align: center;
    text-transform: uppercase;
    }
    .main_part8_block3_listitem_image{
        width: 220px;
        height: 220px;
        
    }
}


@media (max-width:1135px) {
    .main_part9{
        margin-top: 0px;
    }
    .main_part9_photo{
        width: 500px;
        height: 400px;
    }
}

@media (max-width:925px) {
    .main_part9{
        margin-top: 5px;
    }
    .main_part9_photo{
        width: 300px;
        height: 250px;
    }
    
.main_part9_block3_title{
    margin-top: 20px;
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 28px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0%;
text-align: left; 
}

.main_part9_block3_text{
    color: rgb(101, 101, 101);
font-family: Open Sans;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}

.main_part9_block4_input{
    width: 150px;
    height: 28px;
    text-align:start;
    background-color:#EEF7FF ;
    border: 2px solid rgb(220, 230, 245);
    border-radius: 4px;
    color: rgb(138, 138, 138);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left; 
}




.main_part9_block4_button{
    border: 1px solid black;
    text-align: center;
    width: 180px;
    height: 45px;
    border-radius: 5px;
    background: rgb(46, 49, 146);
}
}

@media (max-width:620px) {
    .main_part9_photo{
        width: 250px;
        height: 200px;
    }
    
.main_part9_block3_title{
    margin-top: 20px;
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left; 
}

.main_part9_block3_text{
    color: rgb(101, 101, 101);
font-family: Open Sans;
font-size: 10px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0%;
text-align: left;
}

.main_part9_block4_input{
    width: 100px;
    height: 20px;
    text-align:start;
    background-color:#EEF7FF ;
    border: 2px solid rgb(220, 230, 245);
    border-radius: 4px;
    color: rgb(138, 138, 138);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left; 
}




.main_part9_block4_button{
    border: 1px solid black;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background: rgb(46, 49, 146);
}
}

@media (max-width:470px) {
    .main_part9_photo{
        width: 180px;
        height: 150px;
    }
    
.main_part9_block3_title{
    margin-top: 10px;
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 11px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: left; 
}

.main_part9_block3_text{
    color: rgb(101, 101, 101);
font-family: Open Sans;
font-size: 8px;
font-weight: 400;
line-height: 10px;
letter-spacing: 0%;
text-align: left;
}

.main_part9_block4_input{
    width: 60px;
    height: 12px;
    text-align:start;
    background-color:#EEF7FF ;
    border: 2px solid rgb(220, 230, 245);
    border-radius: 4px;
    color: rgb(138, 138, 138);
    font-family: Open Sans;
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: left; 
}




.main_part9_block4_button{
    border: 1px solid black;
    text-align: center;
    width: 60px;
    height: 15px;
    border-radius: 5px;
    background: rgb(46, 49, 146);
    font-size: 10px;
}
}


@media (max-width:1440px) {
    
    .main_part10_controlblock{
        background-color: rgba(125, 182, 147, 0.14);
        height: 700px;
    }
        .main_part10_block3_list{
                width: 100%;
                height: 650px;
                align-content: center; 

                
        }
        .main_part10_block3_listitem{
            display: block;
            margin: 0 auto;
            margin-top: 50px;
        }
        
        .hidden{
            display: none;
            transition: 2s all;
        }
        
        
    
        .btnPrev4{
       margin: 0 auto;
        width: 50px;
        height: 50px;
        opacity: 1;
        border-radius: 50%;
        z-index: 2;
        display: block;
        position: relative;
        bottom: 300px;
        right:220px;
        opacity: 0.1;
        border: 1px solid black;
        font-size: 30px;
        font-weight: 700;
        align-self: center;
        box-shadow: 2px 0px 2px 1px;
        }
        .btnNex4t:hover, .btnNext4:active{
            opacity: 0.3;
            box-shadow: 3px 0px 3px 2px;
            
        }
        .btnPrev4:hover, .btnPrev4:active{
            opacity: 0.3;
            box-shadow: 0px 2px 3px 2px;
            
        }
        
        .btnNext4{
          margin: 0 auto;
        width: 50px;
        height: 50px;
        opacity: 1;
        border-radius: 50%;
        z-index: 2;
        display: block;
        position: relative;
        bottom: 350px;
        left:220px;
    
        opacity: 0.1;
        border: 1px solid black;
        font-size: 30px;
        font-weight: 700;
        align-self: center;
        box-shadow: 2px 0px 2px 1px;
        }
       
    
}

@media (max-width:495px) {

    .main_part10_controlblock{
        background-color: rgba(125, 182, 147, 0.14);
        height: 500px;
        margin-bottom: 0px;
    }

.main_part10_block2_title1{
    margin: 0px 0px;
    color: rgb(221, 51, 51);
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 1.69px;
    text-align: center;
    text-transform: uppercase;
}

.main_part10_block2_title2{
    margin: 0px 0px;
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 30px;
font-weight: 600;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
}

.main_part10_block2_text1{
    margin: 0px 0px;
    color: rgb(138, 138, 138);
font-family: Open Sans;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
}

.main_part10_block3_listitem_text2{
   
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 20px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0%;

}

.main_part10_block3_listitem_text1{
    
    color: rgb(221, 51, 51);
font-family: Open Sans;
font-size: 10px;
font-weight: 600;
line-height: 12px;
letter-spacing: 1.69px;

text-transform: uppercase;
}

.main_part10_block3_listitem_text3{
    color: rgb(138, 138, 138);
font-family: Open Sans;
font-size: 11px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0%;
text-align: left;
}
.main_part10_block3_listitem_image{
    width: 310px;
}
.btnPrev4{
    width: 30px;
        height: 30px;
        align-content: center;
        font-size:15px;
     position: relative;
     bottom: 300px;
     right:150px;
     
     }

     .btnNext4{
        width: 30px;
        height: 30px;
        align-content: center;
        font-size:15px;
        position: relative;
        bottom: 340px;
        left: 148px;
        
        }
}

@media (max-width:814px) {
    .footer_part1_control{
        display: grid;
        
        grid-template-columns: repeat(3,70px);
        justify-content: space-around;
    }
    .footer_part1_control_img{
        width: 50px;
        height: 52px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}