html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*LOADER START*/

.inner{
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    
    justify-content:center ;
    align-items: center;
    background-color: #011015;
    z-index: 1000;
}

.inner.disappear{
    display: none;
}
.container.noway{
    display: none;
}
.ring.notnow{
    display: none;
}

.container{
    position: relative;
    display: flex;
    justify-content:center ;
    align-items: center;
}

.ring{
    width: 200px;
    height: 200px;
    border: 4px solid #011015;
    border-radius: 50%;
    position: absolute;
}
.ring:nth-child(1){
    border-bottom-width: 8px;
    border-bottom-color:rgb(255,0,255);
    animation: rotate 1.2s linear infinite;
}

.ring:nth-child(2){
    border-right-width: 8px;
    border-right-color:rgb(0, 165, 206);
    animation: rotate2 1.2s linear infinite;
}
.ring:nth-child(3){
    border-top-width: 8px;
    border-top-color:rgb(15, 213, 104);
    animation: rotate3 1.2s linear infinite;
}
.ring:nth-child(4){
    border-left-width: 8px;
    border-bottom-color:rgb(255,0,255);
    animation: rotate4 1.2s linear infinite;
}

.ring:nth-child(5){
    border-left-width: 8px;
    border-right-color:rgb(0, 165, 206);
    animation: rotate5 1.2s linear infinite;
}
.ring:nth-child(6){
    border-bottom-width: 8px;
    border-top-color:rgb(15, 213, 104);
    animation: rotate6 1.2s linear infinite;
}


.loading{
    color: #fff;
}

@keyframes rotate {
    0%{
        transform: rotateX(35deg) rotateY(-45deg)  rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg)  rotateZ(360deg)
    }
}

@keyframes rotate2 {
    0%{
        transform: rotateX(50deg) rotateY(10deg)  rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(10deg)  rotateZ(360deg)
    }
}

@keyframes rotate3 {
    0%{
        transform: rotateX(35deg) rotateY(55deg)  rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg)  rotateZ(360deg)
    }
}

@keyframes rotate4 {
    0%{
        transform: rotateX(-35deg) rotateY(+45deg)  rotateZ(0deg);
    }
    100%{
        transform: rotateX(-35deg) rotateY(+45deg)  rotateZ(-360deg)
    }
}

@keyframes rotate5 {
    0%{
        transform: rotateX(-50deg) rotateY(-10deg)  rotateZ(0deg);
    }
    100%{
        transform: rotateX(-50deg) rotateY(-10deg)  rotateZ(-360deg)
    }
}

@keyframes rotate6 {
    0%{
        transform: rotateX(-35deg) rotateY(-55deg)  rotateZ(0deg);
    }
    100%{
        transform: rotateX(-35deg) rotateY(-55deg)  rotateZ(-360deg)
    }
}
/*LOADER END*/


/*HEADER PART 1*/
.header_part1_block1{
    display: flex;
    justify-content: space-between;
    background-color: rgb(60, 60, 180);
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
    color: white;
}

.header_part1_block1_subblock{
    display: flex;
    gap: 10px;
   
}


.phone-call{
    width: 3vh;
    height: 3vh;
    margin-top: 16px;
   margin-top: 2px;

}

.font-marker{
    width: 3vh ;
    height: 3vh;
    margin-top: 16px;
    margin-top: 2px;
}
.text_1{

    color: rgb(255, 255, 255);
   font-family: Open Sans;
   font-size: 13px;
   font-weight: 400;
   line-height: 21.67px;
   letter-spacing: 0%;
   
   margin-top: 2px;
   
   }
   
   .text_2{
       color: rgb(255, 255, 255);
   font-family: Open Sans;
   font-size: 13px;
   font-weight: 400;
   line-height: 21.67px;
   letter-spacing: 0%;
   text-align: left;
   margin-top: 2px;
   
   }
   
   .text_3{
       color: rgb(255, 255, 255);
   font-family: Open Sans;
   font-size: 13px;
   font-weight: 400;
   line-height: 21.67px;
   letter-spacing: 0%;
   text-align: left;
   margin-top: 2px;
   }
   
   .text_4{
       color: rgb(255, 255, 255);
   font-family: Open Sans;
   font-size: 13px;
   font-weight: 400;
   line-height: 21.67px;
   letter-spacing: 0%;
   text-align: left;
   margin-top: 2px;
   margin-right: 10px;
   }
   
   .sign{
    font-size: 16px;
       color: #fff;
       margin-top: 2px;
       margin-left: 10px;
   }

   /*BURGER START*/
.burger_header_btn{
    display: none;
    position: relative;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgb(79, 103, 174);
    border-radius: 5px;
    margin-left: 20px;
    z-index: 5;
    
}

.burger_header_btn span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color:black;
    left: 5px;
    transition: transform 0.5s, opacity 0.5s, backgroundcolor 0.5s;
    
} 

.burger_header_btn span:nth-child(1){
    transform: translateY(-10px);
}
.burger_header_btn span:nth-child(3){
    transform: translateY(10px);
}



.header.open .burger_header_btn span:nth-child(1){
    transform: translateY(0) rotate(45deg);
    background-color: white;
    
}
.header.open .burger_header_btn span:nth-child(2){
    opacity: 0;
}

.header.open .burger_header_btn span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
    background-color: white;
}



.header_part2_controlblock{
    display: flex;
    justify-content: space-between;
}

.header_part2_name{
    display: flex;
}

.header_part2_buttons_list{
    display: flex;
    gap: 20px;
    z-index: 1000;
}
.header_part2_name_part1{
    padding-left: 50px;
    font-weight: 750;
}
.header_part2_controlblock{
    padding-top: 50px;
    padding-bottom: 50px;
}


.header_part2_buttons_list7{
    padding-right: 80px;
}

.header_part2_name_part1{
    color: red;
    font-family: Open Sans;
    
}

.header_part2_name_part2{
    color: rgb(32, 32, 186);
    font-family: Open Sans;
    font-weight: 750;
}

.header_part2_buttons_list{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 3px;
    margin-bottom: 25px;
   
    
    
}
.header_part2_controlblock{
    display: flex;
    justify-content: space-between;
   
    
    
}

.menu{
    border-color: 1px solid black;
    background-color: antiquewhite;
    border-radius: 5px;
    width: 49px;
    height: 49px;
    
}

.photo_button{
    margin-left: 7px;
}

.header_part2_buttons_part2{
    
    margin-right: 0px;
    
}
.header_part2_buttons_list_button{
    color: rgb(30, 45, 120);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 2.6px;
    text-align: left;
    text-transform: uppercase;
    background-color: white;
    margin-top: 0px;
}

/*HEADER END*/



/* main_part1 start */

  .main_part1_block{
    width: 600px;
    height: 400px;
    position: relative;
    top: 187px;
    left: 310px;
  }

  

  .main_part1_block1{
    width: 168px;
    height: 29px;
    border-radius: 5px;
    background: rgb(244, 87, 46);
    align-content: center;
  }
  
  .main_part1_block2{
    margin-right: ;
  }

  .main_part1_block3{
    max-width: 380px;
    height: 57px;
    display: flex;
    gap: 16.04px;
  }

  .main_part1_block1_text1{
    color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 13px;
font-weight: 600;
line-height: 23px;
letter-spacing: 2px;
text-align: left;
text-transform: uppercase;
margin-top: 3px;
margin-bottom: 0px;
margin-left: 15px;

}

.main_part1_block1_title1{
    background-color: white;
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 65px;
font-weight: 600;
line-height: 77px;
letter-spacing: 0%;
text-align: left;
margin-top: 10px;
margin-bottom: 10px;
}

.main_part1_block1_title2{
    background-color: #fff;
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 65px;
font-weight: 600;
line-height: 77px;
letter-spacing: 0%;
text-align: left;
margin-top: 0px;
margin-bottom: 10px;
}

.main_part1_block3_button1{
    width: 187px;
    height: 56px;
    border-radius: 5px;
    background: rgb(46, 49, 146);
    opacity: 0.96;
    color: #fff;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.main_part1_block3_button2{
    width: 187px;
    height: 56px;
    border-radius: 5px;
    background:#fff;
    opacity: 0.96;
    color: rgb(46, 49, 146) ;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

 /* main_part1 end */


  /* main_part2 start */

  .main_part2_block{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    flex-wrap: nowrap;
    width: 100%;
    height: 550px;
    
 }

 

 .main_part2_block3_image1{
    width: 413.33px;
    height: 255px;
    
 }

 .main_part2_block3_image2{
    width: 413.33px;
    height: 255px;
 }



 .main_part2_block1_search{
    margin-top: 10px;
 }

 .main_part2_block1_search::after{
    content: url(../img/svg.qodef-decoration.png);
    position: relative;
    top: 10px;
    left: 10px;
    
}

 .main_part2_block3_dop{
    
    border: 1px solid black;
    width: 413px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(46, 49, 146) ;
    color: rgb(255, 255, 255);
   font-family: Catamaran;
   font-size: 20px;
   font-weight: 600;
   line-height: 25px;
  letter-spacing: 0%;
 
 }

.main_part2_block3{
    width: 413px;
    background-color: antiquewhite;
    height: 500px;
}

.main_part2_block1_title1{
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 27px;
font-weight: 600;
line-height: 34.99px;
letter-spacing: 0%;
text-align: left;
}

.main_part2_block1_text1{
    color: rgb(138, 138, 138);
font-family: Open Sans;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}

.main_part2_block2_text{
    color: rgb(138, 138, 138);
font-family: Open Sans;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}

.main_part2_block2_text::before{
    content: url(../img/h1-icon-list4.png.png) ;
}


.main_part2_block3_title{
    text-align: center;
    margin-top: 50px;
    color: rgb(37, 57, 156);
   font-family: Catamaran;
   font-size: 32px;
   font-weight: 600;
  line-height: 34.99px;
letter-spacing: 0%;
margin-bottom: 20px;
}
.main_part2_block3_text{
    color: rgb(138, 138, 138);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 30px;
}



.btnPrev{
    display: none;
}

.btnNext{
display: none;
}


 /* main_part2 end */


 /* main_part3 start */

 .main_part3_block{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,400px);
    margin-top: 80px;
    align-items: center;
   
    
    
 }

 .main_part3_block1{
    display: flex;
    height: 130px; 
    margin-bottom: 75px;  
    
 }
 .main_part3_block2{
    width: 273.33px;
    height: 86px;
 }
 .main_part3_block2_title{
   color: rgb(30, 45, 120);
   font-family: Catamaran;
   font-size: 19px;
   font-weight: 600;
   line-height: 25px;
   letter-spacing: 0%;
   text-align: left;
   margin-top: 0px;
   margin-bottom: 10px;
   margin-left: 28px;
}

.main_part3_block2_text{
    color: rgb(138, 138, 138);
font-family: Open Sans;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
margin-top: 0px;
margin-bottom: 0px;
padding-left: 28px;
}

/*MAIN PART 4  start*/
.main_part4{
    width: 100%;
    height: 516px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: azure;
}
.youtube_video_main_part4{
    width:700px;
    height:516px;
}
.main_part4_block1_text1{
    font-size: 12px;
    font-family:sans-serif;
    font-weight: 600;
    color: rgb(179, 12, 12);
    margin-bottom: 5px;
    text-align: left;
}
.main_part4_block1_title1{
    color: rgb(8, 29, 132);
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;

    
}
.main_part4_block1_text2{
    color: rgb(101, 101, 101);
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 20px;

  
}
.main_part4_block1_text3{
    font-size: 12px;
    font-family:sans-serif;
    font-weight: 600;
    color: rgb(179, 12, 12);
    margin-bottom: 5px;
    text-align: left;
}

/*MAIN PART 4  END*/

/* main_part5 start */

.main_part5_block{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 600px;
    background-color: bisque;
}

.main_part5_block1_text1{
    color: rgb(221, 51, 51);
font-family: Open Sans;
font-size: 13px;
font-weight: 600;
line-height: 25px;
letter-spacing: 1.69px;
text-align: center;
text-transform: uppercase;
margin: 0px;
}

.main_part5_block1_title1{
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 52px;
font-weight: 600;
line-height: 60.01px;
letter-spacing: 0%;
text-align: center;
margin: 0px;
}

.main_part5_block1_text2{
    color: rgb(138, 138, 138);
font-family: Open Sans;
font-size: 19px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin: 0px;

}

.main_part5_block2{
    display: flex;
   justify-content: space-around;
    margin-top: 83px;
}

.main_part5_block2_addblock1_title{
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 27px;
font-weight: 600;
line-height: 34.99px;
letter-spacing: 0%;
text-align: center;
margin-top: 28px;
}

.main_part5_block2_addblock1_text{
    color: rgb(138, 138, 138);
font-family: Open Sans;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
}

.main_part5_block2_addblock1_text1{
    color: rgb(221, 51, 51);
font-family: Open Sans;
font-size: 13px;
font-weight: 600;
line-height: 25px;
letter-spacing: 1.69px;
text-align: center;
text-transform: uppercase;
margin-top: 29px;
}

.btnPrev2{
    display: none;
}

.btnNext2{
display: none;
}
/* main_part5 end */



/* main_part6 start */


.main_part6_blockcontrol{
    background-color: rgb(46, 49, 146);
    width: 99.9%;
    height: 200px;
    border: 1px solid black; 
    
}

.main_part6_block{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    
    
}

.main_part6_block2{
    display: flex;
    gap: 5px;
}

.main_part6_block2_title1{

    font-family: Catamaran;
    font-size: 35px;
    font-weight: 600;
    line-height: 43.99px;
    letter-spacing: 0%;
    text-align: left;
    color: #fff;

}

.main_part6_block2_title2{

    font-family: Catamaran;
    font-size: 35px;
    font-weight: 600;
    line-height: 43.99px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(244, 87, 46);
    
}

.main_part6_block3_text1{

    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.main_part6_block4_button{
    width: 198px;
    height: 56px; 
    border-radius: 5px;
    background: rgb(255, 255, 255);
    text-align: center;
    
}

/* main_part6 end */


/* main_part7 start */

.main_part7_controlblock{
    background-color: rgb(255, 242, 242);
    width: 100%;
    height: 700px;
    
}

.main_part7_block2_list{
   display: flex;
   
   margin-top: 100px;
   margin-bottom: 50px;
    
}

.main_part7_block3{
    display: flex;
    gap: 50px;
    
    
}

.main_part7_block1{
    display: grid;
    justify-content: space-around;
}

.main_part7_block2_button{
    background-color:  rgb(255, 242, 242);
    width: 300px;
    height: 49px;
    text-align: center;
    color: rgb(30, 45, 120);
    font-family: Catamaran;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;

}

.main_part7_block4_titile1{
    margin: 0px 0px;
    color: rgb(30, 45, 120);
    font-family: Catamaran;
    font-size: 35px;
    font-weight: 600;
    line-height: 43.99px;
    letter-spacing: 0%;
    text-align: left;
}

.main_part7_block4_text1{
    margin: 0px 0px;
    color: rgb(101, 101, 101);
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}


.main_part7_block2_button:hover, .main_part7_block2_button:focus, .main_part7_block2_button:active {
    border-bottom: 2px solid red;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.2);
    transition-duration: 0.1s;
    
}
.main_part7_block5_img{
    width: 500px;
    height: 320px;
}
.hiddenExp{
    display: none;
    transition: 2s all;
}


/* main_part7 end */






/* main_part8 start */

.main_part8_controlblock{
    width: 100%;
    height: 700px;
    text-align: center;
    margin-top: 143px;
}
.main_part8_block3_list{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
  
.main_part8_block2_title1{
    margin: 0px 0px;
    color: rgb(221, 51, 51);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 1.69px;
    text-align: center;
    text-transform: uppercase;
}

.main_part8_block2_title2{
    margin: 0px 0px;
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 52px;
font-weight: 600;
line-height: 60.01px;
letter-spacing: 0%;
text-align: center;
}

.main_part8_block2_text1{
    margin: 0px 0px;
    color: rgb(138, 138, 138);
font-family: Open Sans;
font-size: 19px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}

.main_part8_block3_listitem_text1{
    margin: 0px 0px;
    color: rgb(30, 45, 120);
font-family: Catamaran;
font-size: 19px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
}

.main_part8_block3_listitem_text2{
    margin: 0px 0px;
    color: rgb(221, 51, 51);
font-family: Open Sans;
font-size: 13px;
font-weight: 600;
line-height: 21.67px;
letter-spacing: 1.69px;
text-align: center;
text-transform: uppercase;
}

.btnNext3{
    display: none;
}
.btnPrev3{
    display: none;
}
/* main_part8 end */




